[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
matplotlib = "*"
pillow = "*"
cognitive-face = "*"
python-dotenv = "*"

[dev-packages]
