[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
matplotlib = "*"
pillow = "*"
cognitive-face = "*"
gunicorn = "*"
python-dotenv = "==0.10.3"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
livereload = "*"
